<% provide(:title,"Home") %>
<% if signed_in? %>
  <div class="row">
    <aside class="large-12 columns">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/wine_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="row">
  	<div class="large-12 columns">
  	  <div class="container panel center">
  	    <h1><b>VINDEMIO</b></h1>
  	    <p>Never forget the great wine you've just drunk!</p>
  	    <p><%= link_to "Sign Up", signup_path, class: "button" %></p>
  	  </div>
  	</div>
  </div>
<% end %>