<% provide(:title,"Home") %>
<div class="jumbotron center">
  <div class="container">
    <h1><b>VINDEMIO</b></h1>
    <p>Never forget the great wine you've just drunk!</p>
    <p><%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>