<% provide(:title, 'All users') %>
<h1>All users</h1>

<% if false %><%= will_paginate @users, renderer: BootstrapPagination::Rails, bootstrap: 3 %><%end%>

<ul class="users">
  <%= render @users %>
</ul>

<% if false %><%= will_paginate @users, renderer: BootstrapPagination::Rails,  bootstrap: 3 %><%end%>