<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.wines.any? %>
      <h3>Wines (<%= @user.wines.count %>)</h3>
      <ol class="wines">
        <%= render @wines %>
      </ol>

      <% if false %>
      <%= will_paginate @wines, renderer: BootstrapPagination::Rails,
      														bootstrap: 3 %><%end%>
    <% end %>
  </div>
</div>